
.background{font-family:Lobster;}

#logo {
   background-image:url("img/crab.svg");
    width: 45px;
}

.redtext
{text-align:center;
color:red;
font-family:Tangerine;
font-size:30px;}

.blackborder{border-color:black;
  border-style:solid;
border-width:5px;
border-radius:50%}

.myimage{width:300px}

p {
    font-size: 20px;
    font-family:Monospace;
    
  }

.backgroundimage1{
  color:white;
  font-family:Prociono;
  margin-top: -40px;
  padding-top: 20%;
  height:700px;
  background-image: url("img/bg1.jpg");
 background-repeat: no-repeat;
 background-size: cover;
 background-attachment: fixed;
 }
#About {
    font-family:Monospace;
    height: 100vh;
    background-size:100% 100%;
}

#work{
    height:100vh;
    background-color: black;
    background-size:100% 100%;
}
#contact {
    height: 100vh;
    margin: -30px;
    padding: 20%;
    background-image: url("img/bg3.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    
}

.icon {	
  margin: 5px;
  border-radius: 30%;
  max-width: 60px;
  max-height: 60px;
  min-width: 30px;
  min-height: 30px;
}

.icon:hover{
  box-shadow: 5px 5px 5px #999;
}
.bottomleft {
    bottom: 8px;
    left: 16px;
    font-size: 15px;
}
    
/********** Large devices only **********/
@media (min-width: 1200px) {
	
  }

/********** Medium devices only **********/
@media (min-width: 992px) and (max-width: 1199px) {

}  


/********** Small devices only **********/
@media (min-width: 768px) and (max-width: 991px){

}


/********** Extra small devices only **********/
@media (max-width: 767px) {
	.hiddenXs {
	  display: none;
	}



